<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
  <connectionStrings>
	  <!--<add name="conn" connectionString="data source= NISHTHA\SQLEXPRESS, initial catalog= mydatabase; Integrated Security= True;" providerName="System.Data.SqlClient"/>-->
	  <add name="NorthwindContex"
		   connectionString="data source=NISHTHA\SQLEXPRESS;
		                    initial catalog=mydatabase;persist security info=True; 
                            Integrated Security=SSPI;"
		   providerName="System.Data.SqlClient" />

	  <!-- New connection string for user database; FOR SIGNUP PAGE -->
	  <add name="UserDBConnectionString"
		   connectionString="data source=NISHTHA\SQLEXPRESS;
                           initial catalog=mydatabase;persist security info=True; 
                           Integrated Security=SSPI;"
		   providerName="System.Data.SqlClient" />
	  
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8.1"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>